.titulo{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: bisque;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.datos{
    position: relative;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-top: 1px;    
}
table{
    margin: 50px 50px 175px 423px;
}
td {
    border-bottom: 6px solid rgba(158, 167, 157, 0.726);    
    padding: 8px;
    padding-top: 20px;
  
}
tr{
    background-color: #cccdff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
}

th {  
    border-bottom: 6px solid rgb(175, 175, 175);    
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    background-color: #fdfb61;
    color: rgb(10, 10, 10);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
    tr:hover {background-color: rgb(250, 176, 182);}