.titulo{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: bisque;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.datos{
    position: relative;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-top: 1px;    
}
table{
    margin: 50px 50px 175px 423px;
}
td {
    border-bottom: 6px solid rgba(158, 167, 157, 0.726);    
    padding: 8px;
    padding-top: 20px;
  
}
tr{
    background-color: #cccdff;
}