.titulo{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: bisque;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.datos{
    position: relative;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-top: 1px;    
}
table{
    margin: 50px 50px 175px 423px;
}
td {
    border-bottom: 6px solid rgba(158, 167, 157, 0.726);    
    padding: 8px;
    padding-top: 20px;
  
}
tr{
    background-color: #cccdff;
}



.boxUpdate{
    width: 600px;
    height: 400px;
}

.boxFormUpdate{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    position: relative;
}

.boxFormUpdate h2{
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.boxFormUpdate label{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    position: relative;
}

.formUpdateInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.formUpdateBtn {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}